html, body {
    padding: 0;
    margin: 0;
    background-color: #1C1C1C;
    font-family: 'Karla', sans-serif;
    height: 100%;
    font-size: 20px;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    min-width: 1000px;
    width: 50%;
    min-width: 1500px;
    min-height: 700px;
    color: white;
}

main .shodan-infopoint-cover {
    display: flex;
    align-self: center;
    height: 50%;
    width: 250px;
    background-image: url('../static/shodan.jpg');
    background-position: right center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 25px black;
    background-size: cover;
}

main section {
    display: flex;
    width: 80%;
    align-items: center;
}

main section div {
    padding: 35px;
    padding-top: 0;
}

.shodan-infopoint-buttons {
    display: flex;
    margin-top: 10px;
    padding: 0;
}

.shodan-infopoint-buttons a {
    text-decoration: none;
    display: flex;
    flex: 1;
}

.preview-button {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-top: 30px;
    cursor: pointer;
    background: #5557b7 !important;
}

.preview-button:hover {
    background: #4647a3 !important;
}

.last {
    margin-right: 0 !important;
}

main section .shodan-infopoint-buttons a .shodan-infopoint-button,
.preview-button {
	margin-right: 10px;
	padding: 9px;
	color: white;
	font-weight: 600;
	transition: 0.3s;
	box-shadow: none;
    line-height: 22.5px;
	outline: 0;
    min-width: 150px;
	border: 0;
	font-size: 16px;
    width: 100%;
	border-radius: 2px;
    text-align: center;
	background: #b72cae;
}

.shodan-infopoint-logo {
    background-image: url('../static/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 50px;
}

p {
    line-height: 27.5px;
}

.shodan-infopoint-tip {
    font-size: 12.5px;
    color: grey;
}

span, strong {
    color: #ff8df7;
    font-weight: 500;
}

main section .shodan-infopoint-buttons a .shodan-infopoint-button:hover,
.preview-button:hover {
    background: #85207e;  
}

a {
    color: #ff8df7;
    text-decoration: underline;
    text-underline-offset: 2.3px;
}

a:hover {
    color: #b72cae;
}

@media screen and (max-width: 1250px) {
    .preview-button {
        height: 20px !important;
    }

    main {
        width: 100% !important;
    }

    .shodan-infopoint-cover {
        display: none !important;
    }

    .shodan-infopoint-logo {
        height: auto !important;
        padding-left: 0 !important;
        margin-top: 5px;
        padding-right: 0 !important;
        width: auto;
    }

    main section {
        width: 100% !important;
        height: 100% !important;
    }

    main section div {
        width: 100% !important;
        height: 100% !important;
        text-align: justify;
    }

    main section .shodan-infopoint-buttons a {
        display: inherit !important;
    }    

    .shodan-infopoint-buttons {
        flex-flow: column;
        height: auto !important;
    }

    .shodan-infopoint-button {
        display: block !important;
        margin-right: 0 !important;
        margin-bottom: 10px;
        padding-right: 0 !important;
        width: 100% !important;
        height: 50px;
    }
    
    .shodan-infopoint-tip {
        padding-bottom: 20px;
        text-align: center;
    }
}

/* Preview */

.shodan-logo-preview:hover {
    filter: brightness(1.5);
}

#preview {
    display: none;
    flex-flow: column;
    align-items: center;
    width: 100%;
}

.feature {
    padding: 25px;
    display: flex;
    flex-flow: row;
    min-height: 300px;
    width: 100%;
    align-items: center;
}

.feature-text {
    display: flex;
    flex-shrink: 1;
    max-height: -webkit-fill-available;
    overflow-y: hidden;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.feature-inner-text {
    padding: 35px;
    line-height: 30px;
}

.feature-picture {
    height: 100%;
    transition: 0.3s;
    cursor: pointer;
    display: flex;
    max-height: 500px;
}

.feature-picture:hover {
    filter: brightness(120%);
}

.preview-wrap {
    display: flex; 
    flex: 1 0 50%;
    height: 100%;
}

.shadowy {
    box-shadow: 0px 0px 20px black;
}

.no-shadow {
    box-shadow: none !important;
}

.feature-zoom {
    position: fixed;
    width: 75%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-zoom-video {
    object-fit: fill;
    height: auto;
}

img,
video{
    box-shadow: 0px 0px 20px black;
    max-width: 900px;
    width: auto;
}

.to-repo {
    color: #9589ff;
    font-weight: 400;
}

.less {
    color: darkgrey;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.shodan-logo-preview {
    transition: 0.3s;
    margin-top: 20px;
    cursor: pointer;
    width: 100%;
}


@media screen and (max-width: 1750px) {
    .shodan-logo-preview {
        width: auto !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .shodan-infopoint-logo {
        margin-top: 45px;
    }

    main {
        min-width: 100%;
    }

    #preview,
    .feature {
        flex-flow: column;
    }

    .feature {
        padding: 0 !important;
        margin-bottom: 25px;
        min-height: auto !important;
    }

    .feature-text {
        text-align: justify;
    }

    .feature-picture {
        max-height: -webkit-fill-available;
        max-width: -webkit-fill-available;
        width: -webkit-fill-available;
        height: -webkit-fill-available;
        cursor: default;
        height: auto;
    }
}